<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body>
<header th:replace="~{fragments/navbar::navbar}"></header>
<main>
    <!-- User profile info: photo, name, email... -->
    <div class="section pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card rounded-4 shadow">
                        <div class="card-body">
                            <div class="d-flex justify-content-center m-1">
                                <img id="selectedAvatar" src="/images/profile-picture-placeholder.png"
                                     class="rounded-circle" style="width: 250px; height: 250px; object-fit: cover;" alt="example placeholder" />
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="lead fs-4 fw-bolder" th:text="${allUsers.get(0).getUsername()}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <!-- Users list -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mt-3 rounded-4 shadow">
                                <div class="card-title">
                                    <p class="h3 text-center fw-bold pt-3 ps-3">Users</p>
                                </div>
                                <div class="card-body table-responsive overflow-auto" style="height: 215px;">
                                    <table class="table align-middle mb-0 bg-white">
                                        <thead >
                                        <tr>
                                            <th scope="col">Username</th>
                                            <th scope="col">Roles</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${allUsers}">
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="ms-4">
                                                        <p class="fw-bold mb-1" th:text="${user.getUsername()}"></p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="ms-4">
                                                        <p class="fw-bold mb-1" th:text="${user.getRoles()}"></p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-warning btn-sm"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#editInfo" th:attrappend="data-bs-target=${user.getId()}">Edit <i class="bi bi-pencil ms-1"></i></a>
                                            </td>
                                            <!-- Edit Info Modal -->
                                            <div th:attrappend="id=${user.getId()}" class="modal fade" id="editInfo" tabindex="-1" aria-labelledby="editInfoLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="editInfoLabel">Edit user information</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <form th:action="@{/admin/{userId}(userId=${user.getId()})}"
                                                              th:method="post"
                                                              th:object="${userDto}">
                                                            <div class="modal-body">
                                                                <p th:text="${user.getUsername()}"></p>
                                                                <label for="roles">Choose roles:</label>
                                                                <select name="roles" id="roles" th:field="*{roles}" multiple>
                                                                    <option value="">Select User Roles</option>
                                                                    <option th:each="role : ${userRoles}"
                                                                            th:value="${role}"
                                                                            th:text="${role}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- EO: Modal -->
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- EO: Users list -->
                </div>
                </div>
            </div>
        </div>
    <!-- EO: User profile -->

</main>

<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>