<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body>
<header th:replace="~{fragments/navbar::navbar}"></header>

<section class="bg-light py-3 p-md-5">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center">Contact a shelter</h2>
          <p class="text-secondary mb-5 text-center">The best way to contact us is to use our contact form below. Please fill out all of the required fields and we will get back to you as soon as possible.</p>
          <hr class="w-50 mx-auto mb-5 border-dark-subtle">
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-12 col-lg-9">
          <div class="bg-white border rounded shadow-sm overflow-hidden">
  
            <form th:action="@{/contact-form}"
                  th:method="post"
                  th:object="${messageData}">
              <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                <div class="col-12 col-md-6">
                  <label for="username" class="form-label">Enter your username <span class="text-danger">*</span></label>
                  <input type="text"
                         class="form-control"
                         id="username"
                         name="username"
                         th:field="*{senderUsername}"
                         th:errorclass="'is-invalid'"
                         required>
                  <p th:if="${#fields.hasErrors('senderUsername')}"
                     th:errors="*{senderUsername}"
                     class="invalid-feedback text-danger"></p>
                </div>

                <div class="col-12 col-md-6">
                  <label for="email" class="form-label">Email</label>
                  <div class="input-group">
                    <span class="input-group-text">
                        <i class="bi bi-envelope"></i>
                    </span>
                    <input type="email"
                           class="form-control"
                           id="email" name="email"
                           th:field="*{senderEmail}"
                           th:errorclass="'is-invalid'">
                    <p th:if="${#fields.hasErrors('senderEmail')}"
                       th:errors="*{senderEmail}"
                       class="invalid-feedback text-danger"></p>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <label for="petSelect" class="form-label">Who do you want to contact? <span class="text-danger">*</span></label>
                  <select class="form-select"
                          aria-label="form-select"
                          th:field="*{receiverUsername}"
                          th:errorclass="'is-invalid'">
                    <option value="">Select Shelter</option>
                    <option th:each="name : ${sheltersNames}"
                            th:value="${name}"
                            th:text="${name}"></option>
                  </select>
                  <p th:if="${#fields.hasErrors('receiverUsername')}"
                     th:errors="*{receiverUsername}"
                     class="invalid-feedback text-danger"></p>
                </div>
                <div class="col-12 col-md-6">
                    <label for="petSelect" class="form-label">Which pet are you interested in? <span class="text-danger">*</span></label>
                      <input class="form-control"
                             id="petSelect"
                             th:field="*{petName}"
                             th:errorclass="'is-invalid'"
                             required
                             placeholder="Enter pet name">
                      <p th:if="${#fields.hasErrors('petName')}"
                         th:errors="*{petName}"
                         class="invalid-feedback text-danger"></p>
                </div>
                <div class="col-12 col-md-6">
                    <label for="petSelect" class="form-label">Choose pet type <span class="text-danger">*</span></label>
                    <select class="form-select"
                            aria-label="form-select"
                            th:field="*{petType}"
                            th:errorclass="'is-invalid'">
                      <option value="">Select Pet Type</option>
                      <option th:each="val : ${petTypes}"
                              th:value="${val}"
                              th:text="${val}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('petType')}"
                       th:errors="*{petType}"
                       class="invalid-feedback text-danger"></p>
                </div>
                <div class="col-12">
                  <label for="message" class="form-label">Message <span class="text-danger">*</span></label>
                  <textarea class="form-control"
                            id="message"
                            name="message"
                            th:field="*{body}"
                            th:errorclass="'is-invalid'"
                            rows="3"
                            placeholder="Write your message here..."
                            required></textarea>
                  <p th:if="${#fields.hasErrors('body')}"
                     th:errors="*{body}"
                     class="invalid-feedback text-danger"></p>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                  </div>
                </div>
              </div>
            </form>
  
          </div>
        </div>
      </div>
    </div>
</section>
</body>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>