<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>

<body>
<header th:replace="~{fragments/navbar::navbar}"></header>

<main>
  <!-- General info section -->
  <section class="bg-light">
    <div class="container text-center">
      <div class="row d-flex justify-content-center text-dark">
        <div class="col-md-8 p-3">
          <p class="fs-4 p-2">
            <b>Welcome to Petable!</b>
          </p>
          <p class="fs-4">
            If you have always dreamed of having a dog or a cat to snuggle and go on long walks with,
            if you feel that your family is missing a loving furry member, then you are at the right place.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- EO: General info section -->
  <!-- Navigation cards -->
  <section class="p-4">
    <div class="container col d-flex justify-content-center">
      <div class="row">
          <div class="col-md m-2 me-5">
            <div class="card rounded-4 shadow" style="width: 18rem; height: 20rem;">
              <img src="/images/background-dog-cat.jpg" class="card-img-top img-responsive" alt="">
              <div class="card-body">
                <h5 class="card-title text-center">Choose a pet </h5>
                <p class="card-title d-flex justify-content-center"><a href="/pet-registry" class="btn btn-outline-warning fw-bold">Here</a></p>
              </div>
            </div>
          </div>

          <div class="col-md m-2 me-5">
            <div class="card rounded-4 shadow" style="width: 18rem; height: 20rem;">
              <img src="/images/shelters.jpg" class="card-img-top img-responsive" alt="">
              <div class="card-body">
                <h5 class="card-title text-center">Check out the</h5>
                <p class="card-title d-flex justify-content-center">
                  <a href="/shelters/info" class="btn btn-outline-danger fw-bold">Shelters</a>
                </p>
                <p class="card-text text-center">We are partnering with</p>
              </div>
            </div>
          </div>

          <div class="col-md m-2">
            <div class="card rounded-4 shadow" style="width: 18rem; height: 20rem;">
              <img src="/images/paw-hand.jpg" class="card-img-top img-responsive" alt="">
              <div class="card-body">
                <p class="card-title d-flex justify-content-center">
                  <a href="/users/register" class="btn btn-outline-primary fw-bold">Join Us</a>
                </p>
                <p class="text-center">Become a member</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- EO: Navigation cards -->

  <section class="bg-light">
    <div class="container text-center">
      <div class="row d-flex justify-content-center text-dark">
        <div class="col-md-8 p-3">
          <p class="fs-4">
            Our mission at Petable is to help you find and adopt your dream pet,
            whether it’s a dog, a cat or even both, and make it as easy as possible.
            Here, you can browse through different shelters and their adorable residents,
            look at photos and read their stories.
            Then you can contact the shelter directly and they’ll guide you through the pet adoption process
            and make sure you and the animal would be a good fit.
            Thanks to Petable, you can explore shelters in Bulgaria all in one place,
            plan visits and hopefully find your new four legged friend.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Carousel with success stories -->
  <div class="section p-3">
    <div class="row text-center m-3">
      <h2>Our success stories</h2>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card text-bg-success">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid rounded-start" src="/images/peeping-dog.jpg" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="h3 card-title">
                    Title here
                  </p>
                  <p class="card-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Laboriosam id illum doloribus repudiandae nihil nesciunt cupiditate
                    praesentium totam laudantium repellat?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card text-bg-success">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid rounded-start" src="/images/paw-hand.jpg" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="h3 card-title">
                    Title here
                  </p>
                  <p class="card-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Laboriosam id illum doloribus repudiandae nihil nesciunt cupiditate
                    praesentium totam laudantium repellat?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card text-bg-success">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid rounded-start" src="/images/pet-care.jpg" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="h3 card-title">
                    Title here
                  </p>
                  <p class="card-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Laboriosam id illum doloribus repudiandae nihil nesciunt cupiditate
                    praesentium totam laudantium repellat?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- EO: Carousel with success stories -->
</main>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>