<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>

<body>
<header th:replace="~{fragments/navbar::navbar}"></header>

<main>
  <!-- General info section -->
  <section class="bg-white">
    <div class="container text-center">
      <div class="row d-flex justify-content-center text-dark">
        <div class="col-md-8 p-3">
          <p class="fs-4 p-2">
            <b th:text="#{welcome_to_petable}">Welcome to Petable!</b>
          </p>
          <p class="fs-4" th:text="#{index_information_text_1}">
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- EO: General info section -->
  <!-- Navigation cards -->
  <section class="p-4">
    <div class="container col d-flex justify-content-center">
      <div class="row">
          <div class="col-md m-2 me-5">
            <div class="card rounded-4 shadow" style="width: 18rem; height: 20rem;">
              <img src="/images/background-dog-cat.jpg" class="card-img-top img-responsive" alt="">
              <div class="card-body">
                <h5 class="card-title text-center" th:text="#{index_navcards_choose_a_pet}">Choose a pet </h5>
                <p class="card-title d-flex justify-content-center">
                  <a th:href="@{pets/all}" class="btn btn-outline-warning fw-bold" th:text="#{index_navcards_choose_a_pet_button}">Here</a></p>
              </div>
            </div>
          </div>

          <div class="col-md m-2 me-5">
            <div class="card rounded-4 shadow" style="width: 18rem; height: 20rem;">
              <img src="/images/shelters.jpg" class="card-img-top img-responsive" alt="">
              <div class="card-body">
                <h5 class="card-title text-center" th:text="#{index_navcards_shelters_1}">Check out the</h5>
                <p class="card-title d-flex justify-content-center">
                  <a href="/shelters/info" class="btn btn-outline-danger fw-bold" th:text="#{index_navcards_shelters_button}">Shelters</a>
                </p>
                <p class="card-text text-center" th:text="#{index_navcards_shelters_2}">We are partnering with</p>
              </div>
            </div>
          </div>

          <div class="col-md m-2">
            <div class="card rounded-4 shadow" style="width: 18rem; height: 20rem;">
              <img src="/images/paw-hand.jpg" class="card-img-top img-responsive" alt="">
              <div class="card-body">
                <p class="text-center" th:text="#{index_navcards_member}">Become a member</p>
                <p class="card-title d-flex justify-content-center">
                  <a href="/users/register" class="btn btn-outline-primary fw-bold" th:text="#{index_navcards_member_button}">Join Us</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- EO: Navigation cards -->

  <section class="bg-white py-5">
    <div class="container text-center">
      <div class="row d-flex justify-content-center text-dark">
        <div class="col-md-7 p-3">
          <p class="fs-4" th:text="#{index_information_text_2}">
          </p>
        </div>
        <div class="col-md-3 p-3 d-flex align-items-center">
          <img src="/images/6766945.jpg" class="image-fluid rounded-3" style="width: 350px" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- Carousel with success stories -->
  <div class="section p-3">
    <div class="container">
    <div class="row text-center m-3">
      <h2 th:text="#{index_success_stories}">Our success stories</h2>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card text-bg-success">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid rounded-start" th:src="${topStories.get(0).imageUrl()}" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="h3 card-title" th:text="${topStories.get(0).title()}">
                  </p>
                  <p class="card-text" th:text="${topStories.get(0).story()}">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" th:each="story : ${topStories.subList(1, topStories.size())}">
          <div class="card text-bg-success">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid rounded-start" th:src="${story.imageUrl()}" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="h3 card-title" th:text="${story.title()}">
                  </p>
                  <p class="card-text" th:text="${story.story()}">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="row text-center m-3">
      <div class="col">
        <a th:href="@{/stories/all}" class="btn btn-outline-success text-decoration-none" th:text="#{index_success_stories_view_all}">View All Stories</a>
      </div>
    </div>
    </div>
  </div>
  <!-- EO: Carousel with success stories -->
</main>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>