<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head::head}"></head>

<body>
<header th:replace="~{fragments/navbar::navbar}"></header>
<!-- Pet status: Looking for a home / Adopted / In vet care -->
<div class="section d-grid p-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-8 col-sm-4">
                <p class="lead fw-bold fs-2" th:text="${petProfileData.getName()}"></p>
            </div>
            
            <div class="col-8 col-sm-4">
                <p class="lead fw-normal fs-4">
                  Status : <span class="badge rounded-pill bg-warning text-dark"
                                 th:text="${petProfileData.getStatus().getLabel()}"></span>
                </p>
            </div>

            <div class="col-8 col-sm-4">
                <form th:action="@{/pet-profile/add-to-favorites/{id}(id=${petProfileData.getId()})}"
                      th:method="post">
                    <button sec:authorize="hasRole('CLIENT')"
                            type="submit"
                            class="btn btn-outline-danger ms-3"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Add to favourites">
                        <i class="bi bi-heart-fill" style="font-size: 30px;"></i>
                    </button>
                </form>
                <form th:action="@{/pet-profile/remove-pet/{id}(id=${petProfileData.getId()})}"
                      th:method="delete">
                    <input type="hidden" name="_method" value="delete"/>
                    <button sec:authorize="hasAnyRole('SHELTER','ADMIN')"
                            th:href="@{/pet-profile/remove-pet/{id}(id=${petProfileData.getId()})}"
                            class="btn btn-danger btn-sm">Delete<i class="bi bi-x-square ms-1"></i>
                    </button>
                </form>
            </div>
            <hr class="mx-auto m-3">
        </div>
    </div>
</div>
<!-- EO: Pet status: -->

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide mb-3" data-bs-ride="carousel"
                     th:unless="${petProfileData.getAllImages().isEmpty()}">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img th:src="${petProfileData.getAllImages().get(0).getUrl()}"
                                 class="d-block w-100" alt="profile picture">
                        </div>
                    </div>
                    <div class="carousel-inner" th:each="image : ${petProfileData.getImages()}">
                        <div class="carousel-item">
                            <img th:src="${image.getUrl()}"
                                 class="d-block w-100"  th:alt="${image.getName()}">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <div th:if="${petProfileData.getAllImages().isEmpty()}">
                    <img src="/images/photo-coming-soon.jpg"
                         class="mx-auto d-block w-50"
                         alt="coming soon">
                </div>
            </div>
            <div class="col-md-6">
                <div class="section details">
                    <div class="container pb-5">
                        <div class="card">
                            <div class="card-body">
                                <p>
                                    Location : <span class="fw-bold" th:text="${petProfileData.getShelterName()}"></span>
                                    City : <span class="fw-bold" th:text="${petProfileData.getLocation()}"></span>
                                </p>
                                <p>
                                    Gender : <span class="fw-bold" th:text="${petProfileData.getGender().toString()}"></span>
                                </p>
                                <p>
                                    Age : <span class="fw-bold" th:text="${petProfileData.getAge()}"></span>
                                </p>
                                <div class="card-text">
                                    <p class="lead fw-normal fs-4" th:text="${petProfileData.getShortDescription()}">

                                    </p>
                                </div>
                                <div class="card-text">
                                    <p class="lead fw-normal fs-4" th:text="${petProfileData.getStory()}">
                                    </p>
                                </div>

                                <div class="card-footer">
                                    <div sec:authorize="!hasRole('SHELTER')" class="row pt-4">
                                        <div class="col-md-4">
                                            <a th:href="${petProfileData.getShelterLink()}" target="_blank" class="fs-5 ps-3" style="text-decoration: none; color: green;"> <i class="bi bi-asterisk"></i> Link to Shelter</a>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <a href="/contact-form" class="btn btn-primary"> I want to meet <span th:text="${petProfileData.getName()}"></span></a>
                                        </div>
                                        <div class="col-md-4" sec:authorize="hasRole('CLIENT')">
                                            <form th:action="@{/pet-profile/add-to-favorites/{id}(id=${petProfileData.getId()})}"
                                                  th:method="post">
                                                <p class="text-end pe-3">
                                                    Add to favourites
                                                    <button type="submit" class="btn btn-outline-danger ms-1">
                                                        <i class="bi bi-heart-fill" style="font-size: 16px;"></i>
                                                    </button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- TODO: Edit pet info -->
                                    <div sec:authorize="hasRole('SHELTER')" class="row pt-4">
                                        <div class="col-md-4">
                                            <p class="text-center pe-3">
                                                <a class="btn btn-sm btn-warning"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#editInfo">Edit <i class="bi bi-pencil ms-1"></i></a>
                                            </p>
                                        </div>
                                        <div class="col-md-8">
                                        <form th:action="@{/pet-profile/upload/{id}(id=${petProfileData.getId()})}"
                                              th:method="post" enctype="multipart/form-data">
                                            <div class="mb-3">
                                                <label for="petPicture" class="form-label">Upload pet photos</label>
                                                <input class="form-control"
                                                       type="file"
                                                       id="petPicture"
                                                       name="petPicture"
                                                       onchange="form.submit()">
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit info Modal -->
<div class="modal fade" id="editInfo" tabindex="-1" aria-labelledby="editInfoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editInfoLabel">Edit user information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/pet-profile/{id}(id=${petProfileData.getId()})}"
                  th:method="post"
                  th:object="${petProfileData}">
                <div class="modal-body">
                    <div class="mb-2">
                        <label for="shelterName" class="col-form-label">
                            Shelter Name
                        </label>
                        <input type="text"
                               class="form-control"
                               id="shelterName"
                               th:field="*{name}"
                               th:value="${petProfileData.getName()}">
                    </div>
                    <div class="mb-2">
                        <label for="location" class="col-form-label">
                            Location
                        </label>
                        <input type="text"
                               class="form-control"
                               id="location"
                               th:field="*{location}"
                               th:value="${petProfileData.getLocation()}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- EO: Edit info Modal -->

<!-- TODO: Button to go back to registry -->

</body>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>