<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body>
<header th:replace="~{fragments/navbar::navbar}"></header>
<!-- Dogs flip cards carousel -->
<div class="section p-5 bg-light">
    <div class="container">
        <h2 class="fw-bold pb-3">Dogs</h2>
        <div class="row">
            <div class="col-lg-3 mb-3" th:each="dog : ${allDogsByShelter}">
                <div class="card h-100" style="width: 18rem;">
                    <img th:src="${dog.getProfileImageUrl()}"
                         class="card-img-top"
                         th:alt="${dog.getName()}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${dog.getName()}"></h5>
                        <p class="card-text" th:text="${dog.getShortDescription()}"></p>
                        <div class="card-btn">
                            <a th:href="@{/pets/{id}(id=${dog.getId()})}" class="btn btn-primary">See profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EO: Dogs flip cards carousel -->

<!-- Cats flip cards carousel -->
<div class="section p-5 bg-light">
    <div class="container">
        <h2 class="fw-bold pb-3">Cats</h2>
        <div class="row">
            <div class="col-lg-3 mb-3" th:each="cat : ${allCatsByShelter}">
                <div class="card h-100" style="width: 18rem;">
                    <img th:src="${cat.getProfileImageUrl()}"
                         class="card-img-top"
                         th:alt="${cat.getName()}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${cat.getName()}"></h5>
                        <p class="card-text" th:text="${cat.getShortDescription()}"></p>
                        <div class="card-btn">
                            <a th:href="@{/pets/{id}(id=${cat.getId()})}" class="btn btn-primary">See profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EO: Cats flip cards carousel -->
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>