<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-light mb-2 py-3">
    <div class="container">
        <a class="navbar-brand colored-text" href="/">
            <!-- Logo goes here -->
            <b>Petable</b>
        </a>

        <p class="pt-3 fs-6 fw-light" sec:authentication="name"></p>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">

                <a class="nav-link"
                   sec:authorize="hasRole('CLIENT')"
                   aria-current="page" th:href="@{/client-profile}">Home</a>
                <a class="nav-link"
                   sec:authorize="hasRole('SHELTER')"
                   aria-current="page" th:href="@{/shelter-profile}">Home</a>

                <a class="nav-link"
                   sec:authorize="!hasRole('SHELTER')"
                   href="/pet-registry">Find A Pet</a>

                <a class="nav-link"
                   sec:authorize="hasRole('SHELTER')"
                   href="/add-pet">Add Pet</a>

                <a class="nav-link"
                   sec:authorize="hasRole('SHELTER')"
                   th:href="@{/shelters/shelter/my-animals}">My animals</a>

                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" sec:authorize="!hasRole('SHELTER')"
                       data-bs-toggle="dropdown" href="#">Shelters</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/shelters/info">Info</a></li>
                        <li><a class="dropdown-item" href="/shelters/contact-form">Contact a shelter</a></li>
                    </ul>
                </div>

                <a class="nav-link colored-text" sec:authorize="!isAuthenticated()"  href="/users/login"><b>Login</b></a>
                <a class="nav-link colored-text" sec:authorize="!isAuthenticated()" href="/users/register"><b>Register</b></a>

                <form th:action="@{/users/logout}"
                      th:method="post">
                    <input class="nav-link text-danger fw-bold"
                           sec:authorize="isAuthenticated()"
                           type="submit" value="Logout">
                </form>
            </div>
        </div>
    </div>
</nav>
</body>
</html>