

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primary: #FFB000;
    --primary-light: #FFCF9D;
    --primary-dark: #ffae00ad;
    --secondary: #004225;
    --secondary-light: #F5F5DC;
    --black: #010101;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --white: #FFFFFF;
    --body: #fefefe;
}


body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--body);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.bg-secondary-light {
    background-color: var(--secondary-light);
}

.btn-primary {
    background-color: var(--primary);
    border: white;
}

.btn-primary:hover {
    background-color: var(--primary-dark);
    border: white
}

.btn-secondary {
    background-color: var(--secondary);
}

.btn-secondary:hover {
    background-color: var(--black);
}


.navbar {
    padding: 18px 0;
}

.nav-link {
    margin-left: 30px;
    font-size: 16px;
    color: var(--black);
}

.colored-text {
    color: #FFB000;
}

.colored-text:hover {
    color: #ffae00ad;
}


.box-area {
    width: 930px;
}

.righ-box {
    padding: 40px 30px 40px 40px;
}

.img-max {
    max-width: 300px;
    width: 100%;
}



