<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/head::head}"></head>

<body>
<header th:replace="~{commons/navbar::navbar}"></header>

<main>
  <!-- Navigation cards -->
  <section class="p-5 mt-5">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-md m-2">
          <div class="card rounded-4 shadow" style="width: 18rem; height: 20rem;">
            <img src="/img/background-dog-cat.jpg" class="card-img-top img-responsive" alt="">
            <div class="card-body">
              <h5 class="card-title text-center">Choose a pet </h5>
              <p class="card-title d-flex justify-content-center"><a href="/pet-registry" class="btn btn-outline-warning fw-bold">Here</a></p>
            </div>
          </div>
        </div>

        <div class="col-md m-2">
          <div class="card rounded-4 shadow" style="width: 18rem; height: 20rem;">
            <img src="/img/shelters.jpg" class="card-img-top img-responsive" alt="">
            <div class="card-body">
              <h5 class="card-title text-center">Check out the</h5>
              <p class="card-title d-flex justify-content-center"><a href="/shelters" class="btn btn-outline-danger fw-bold">Shelters</a></p>
              <p class="card-text text-center">We are partnering with</p>
            </div>
          </div>
        </div>

        <div class="col-md m-2">
          <div class="card rounded-4 shadow" style="width: 18rem; height: 20rem;">
            <img src="/img/puppy.jpg" class="card-img-top img-responsive" alt="">
            <div class="card-body">
              <p class="card-title d-flex justify-content-center"><a href="/pet-care" class="btn btn-outline-success fw-bold">Pet Care</a></p>
              <p class="text-center">It is important to take care of our pets!</p>
            </div>
          </div>
        </div>

        <div class="col-md m-2">
          <div class="card rounded-4 shadow" style="width: 18rem; height: 20rem;">
            <img src="/img/paw-hand.jpg" class="card-img-top img-responsive" alt="">
            <div class="card-body">
              <p class="card-title d-flex justify-content-center"><a href="/member" class="btn btn-outline-primary fw-bold">Join Us</a></p>
              <p class="text-center">Why become a member?</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- EO: Navigation cards -->

  <!-- General info section -->

  <section id="learn" class="p-5 bg-light text-light">
    <div class="container">
      <div class="row align-items-center justify-content-between text-dark">

        <div class="col-md p-3">
          <h2>General Info</h2>
          <p class="lead p-2">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Id repudiandae odio ipsam iste ratione eius!
          </p>
          <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Facilis doloribus sed, assumenda delectus ipsa,
            consectetur repudiandae esse eos quidem vero laudantium aliquam nulla nam accusamus doloremque atque cumque ratione quia.
          </p>

          <p>Fore more information contact us here... <i class="bi bi-chevron-right"></i></p>
          <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
          <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
        </div>

      </div>
    </div>
  </section>

  <!-- EO: General info section -->

  <!-- Carousel with success stories -->

  <div class="section p-3">
    <div class="row text-center m-3">
      <h2>Our success stories</h2>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card text-bg-success">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid rounded-start" src="/img/peeping-dog.jpg" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="h3 card-title">
                    Title here
                  </p>
                  <p class="card-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Laboriosam id illum doloribus repudiandae nihil nesciunt cupiditate
                    praesentium totam laudantium repellat?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card text-bg-success">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid rounded-start" src="/img/paw-hand.jpg" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="h3 card-title">
                    Title here
                  </p>
                  <p class="card-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Laboriosam id illum doloribus repudiandae nihil nesciunt cupiditate
                    praesentium totam laudantium repellat?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card text-bg-success">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid rounded-start" src="/img/pet-care.jpg" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="h3 card-title">
                    Title here
                  </p>
                  <p class="card-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Laboriosam id illum doloribus repudiandae nihil nesciunt cupiditate
                    praesentium totam laudantium repellat?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- EO: Carousel with success stories -->
</main>
<footer th:replace="~{commons/footer::footer}"></footer>
</body>
</html>