<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>

<body>
<header th:replace="~{fragments/navbar::navbar}"></header>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area ">
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
            <div class="form-image my-3">
                <img src="/images/login-image.jpg" class="image-fluid rounded-5" style="width: 250px" alt="">
            </div>
            <p class="text-dark fs-5">Join us and find your next pet.</p>
        </div>

        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text my-4">
                    <p class="text-dark fs-4">Sign In page</p>
                </div>
                <form th:action="@{/users/login}"
                      th:method="post">
                    <div class="input-group mb-3">
                        <input type="text"
                               id="username"
                               name="username"
                               class="form-control form-control-lg bg-light fs-6"
                               placeholder="Username" required>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password"
                               id="password"
                               name="password"
                               class="form-control form-control-lg bg-light fs-6"
                               placeholder="Password" required>
                    </div>

                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 fs-5">
                            Login
                        </button>
                    </div>

                    <div class="input-group mb-4 d-flex justify-content-center">
                        <p>Not a member? <a class="ms-3" href="/users/register">Register</a></p>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
</body>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>