<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{commons/head::head}"></head>

<body>
<header th:replace="~{commons/navbar::navbar}"></header>
<!-- Pet status: Looking for a home / Adopted / In vet care -->
<div class="section d-grid p-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-8 col-sm-4">
                <p class="lead fw-bold fs-2">Phoebe</p>
            </div>
            
            <div class="col-8 col-sm-4">
                <p class="lead fw-normal fs-4">
                  Status : <span class="badge rounded-pill bg-warning text-dark">Looking for a home</span>
                </p>
                <p class="fw-normal fs-6">
                    Location : <span class="fw-bold">Sharko</span>
                </p>
            </div>

            <div class="col-8 col-sm-4">
                <button type="button" class="btn btn-outline-danger ms-3" 
                data-toggle="tooltip" data-placement="top" title="Add to favourites">
                    <i class="bi bi-heart-fill" style="font-size: 30px;"></i>
                </button>
            </div>
            <hr class="mx-auto m-3">
        </div>
    </div>
</div>
<!-- EO: Pet status: -->

<!-- Photo galery of the pet -->
<div class="section p-3">
    <div class="container px-5">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <img
                src="/images/phoebe-dog/p-7.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                style="height: 550px;"
               alt=""/>
          
              <img
                src="/images/phoebe-dog/p-6.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                style="height: 270px;"
               alt=""/>
            </div>
          
            <div class="col-lg-4 mb-4 mb-lg-0">
              <img
                src="/images/phoebe-dog/p-5.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
               alt=""/>
          
              <img
                src="/images/phoebe-dog/p-8.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                style="height: 525px;"
               alt=""/>
            </div>
          
            <div class="col-lg-4 mb-4 mb-lg-0">
              <img
                src="/images/phoebe-dog/p-3.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
               alt=""/>
          
              <img
                src="/images/phoebe-dog/p-2.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
               alt=""/>

              <img
                src="/images/phoebe-dog/p-1.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
               alt=""/>
            </div>
          </div>
    </div>
</div>
<!-- EO: Photo gallery of the pet -->

<!-- Details/Description -->
<div class="section details p-3">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-text">
                    <p class="lead fw-normal fs-4">
                        Phoebe, a beauty from the beginning, wonderful, cheerful, calmest of all.
                        With the most amazing and big ears.

                    </p>
                </div>
                <div class="card-text">
                    <p class="lead fw-normal fs-4">
                        An extremely tidy girl, she loves to collect all available toys in one place so that others do not scatter them 😁
                        Very soon Phoebe will have a home and family of her own, and we can only wish them a long and happy life together.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="row pt-4">
                        <div class="col-md-4">
                            <a href="/shelters" class="fs-5 ps-3" style="text-decoration: none; color: green;"> <i class="bi bi-asterisk"></i> Link to Shelter</a>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="/contact-form" class="btn btn-primary"> I want to meet Phoebe</a>
                        </div>
                        <div class="col-md-4">
                            <p class="text-end pe-3">
                                Add to favourites
                                <button type="button" class="btn btn-outline-danger ms-1">
                                    <i class="bi bi-heart-fill" style="font-size: 16px;"></i>
                                </button>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO: Button to go back to registry -->

</body>
<footer th:replace="~{commons/footer::footer}"></footer>
</html>