<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>

<body>
<header th:replace="~{fragments/navbar::navbar}"></header>
<!-- Pet status: Looking for a home / Adopted / In vet care -->
<div class="section d-grid p-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-8 col-sm-4">
                <p class="lead fw-bold fs-2" th:text="${petProfileData.getName()}"></p>
            </div>
            
            <div class="col-8 col-sm-4">
                <p class="lead fw-normal fs-4">
                  Status : <span class="badge rounded-pill bg-warning text-dark"
                                 th:text="${petProfileData.getStatus().getLabel()}"></span>
                </p>
                <p>
                    Location : <span class="fw-bold" th:text="${petProfileData.getShelterName()}"></span>

                    City : <span class="fw-bold" th:text="${petProfileData.getLocation()}"></span>
                </p>
                <p>
                    Gender : <span class="fw-bold" th:text="${petProfileData.getGender().toString()}"></span>
                </p>
                <p>
                    Birthdate : <span class="fw-bold" th:text="${petProfileData.getBirthdate()}"></span>
                </p>

            </div>

            <div class="col-8 col-sm-4">
                <button type="button" class="btn btn-outline-danger ms-3" 
                data-toggle="tooltip" data-placement="top" title="Add to favourites">
                    <i class="bi bi-heart-fill" style="font-size: 30px;"></i>
                </button>
            </div>
            <hr class="mx-auto m-3">
        </div>
    </div>
</div>
<!-- EO: Pet status: -->

<!-- Photo galery of the pet -->
<div class="section p-3">
    <div class="container px-5">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <img
                src="/images/phoebe-dog/p-7.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
                style="height: 550px;"
               alt=""/>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
              <img
                src="/images/phoebe-dog/p-5.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
               alt=""/>

                <img src="/images/phoebe-dog/p-2.jpg"
                     class="w-100 shadow-1-strong rounded mb-4"
                     alt=""/>
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
              <img
                src="/images/phoebe-dog/p-3.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
               alt=""/>

              <img
                src="/images/phoebe-dog/p-1.jpg"
                class="w-100 shadow-1-strong rounded mb-4"
               alt=""/>
            </div>
          </div>
    </div>
</div>
<!-- EO: Photo gallery of the pet -->

<!-- Details/Description -->
<div class="section details p-3">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="card-text">
                    <p class="lead fw-normal fs-4" th:text="${petProfileData.getShortDescription()}">

                    </p>
                </div>
                <div class="card-text">
                    <p class="lead fw-normal fs-4" th:text="${petProfileData.getStory()}">
                    </p>
                </div>
                <div class="card-footer">
                    <div class="row pt-4">
                        <div class="col-md-4">
                            <a href="/shelters/info" class="fs-5 ps-3" style="text-decoration: none; color: green;"> <i class="bi bi-asterisk"></i> Link to Shelter</a>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="/shelters/contact-form" class="btn btn-primary"> I want to meet <span th:text="${petProfileData.getName()}"></span></a>
                        </div>
                        <div class="col-md-4">
                            <p class="text-end pe-3">
                                Add to favourites
                                <button type="button" class="btn btn-outline-danger ms-1">
                                    <i class="bi bi-heart-fill" style="font-size: 16px;"></i>
                                </button>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO: Button to go back to registry -->

</body>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>