<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head::head}"></head>

<body>
<header th:replace="~{fragments/navbar::navbar}"></header>
<!-- Pet status: Looking for a home / Adopted / In vet care -->
<div class="section d-grid p-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-8 col-sm-4">
                <p class="lead fw-bold fs-2" th:text="${petProfileData.getName()}"></p>
            </div>
            
            <div class="col-8 col-sm-4">
                <p class="lead fw-normal fs-4">
                  Status : <span class="badge rounded-pill bg-warning text-dark"
                                 th:text="${petProfileData.getStatus().getLabel()}"></span>
                </p>
            </div>

            <div class="col-8 col-sm-4">
                <button sec:authorize="hasRole('CLIENT')" type="button" class="btn btn-outline-danger ms-3"
                data-toggle="tooltip" data-placement="top" title="Add to favourites">
                    <i class="bi bi-heart-fill" style="font-size: 30px;"></i>
                </button>
                <a sec:authorize="!hasRole('CLIENT')" href="#" class="btn btn-sm btn-danger btn-sm">Delete <i class="bi bi-x-square ms-1"></i></a>
            </div>
            <hr class="mx-auto m-3">
        </div>
    </div>
</div>
<!-- EO: Pet status: -->

<div class="section p-3">
    <div class="container px-5">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/phoebe-dog/p-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/phoebe-dog/p-2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/phoebe-dog/p-3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section details">
                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <p>
                                    Location : <span class="fw-bold" th:text="${petProfileData.getShelterName()}"></span>
                                    City : <span class="fw-bold" th:text="${petProfileData.getLocation()}"></span>
                                </p>
                                <p>
                                    Gender : <span class="fw-bold" th:text="${petProfileData.getGender().toString()}"></span>
                                </p>
                                <p>
                                    Age : <span class="fw-bold" th:text="${petProfileData.getAge()}"></span>
                                </p>
                                <div class="card-text">
                                    <p class="lead fw-normal fs-4" th:text="${petProfileData.getShortDescription()}">

                                    </p>
                                </div>
                                <div class="card-text">
                                    <p class="lead fw-normal fs-4" th:text="${petProfileData.getStory()}">
                                    </p>
                                </div>

                                <div class="card-footer">
                                    <div sec:authorize="!hasRole('SHELTER')" class="row pt-4">
                                        <div class="col-md-4">
                                            <a th:href="${petProfileData.getShelterLink()}" target="_blank" class="fs-5 ps-3" style="text-decoration: none; color: green;"> <i class="bi bi-asterisk"></i> Link to Shelter</a>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <a href="/shelters/contact-form" class="btn btn-primary"> I want to meet <span th:text="${petProfileData.getName()}"></span></a>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="text-end pe-3">
                                                Add to favourites
                                                <button type="button" class="btn btn-outline-danger ms-1">
                                                    <i class="bi bi-heart-fill" style="font-size: 16px;"></i>
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                    <div sec:authorize="!hasRole('CLIENT')" class="row pt-4">
                                        <div class="col-md-4">
                                            <p class="text-end pe-3">
                                                <a class="btn btn-sm btn-warning">Edit <i class="bi bi-pencil ms-1"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO: Button to go back to registry -->

</body>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>