<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>

<body>
<header th:replace="~{fragments/navbar::navbar}"></header>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area ">
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
            <div class="form-image my-3">
                <img src="/images/login-image.jpg" class="image-fluid rounded-5" style="width: 250px" alt="">
            </div>
            <p class="text-dark fs-5">Shelters get to list their animals to find them potential new homes.</p>
        </div>

        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text my-4">
                    <p class="text-dark fs-4">Sign Up page</p>
                </div>

                <form th:action="@{/users/register-shelter}"
                      th:method="post"
                      th:object="${shelterRegistrationData}">
                    <div class="input-group mb-3">
                        <input type="text"
                               th:field="*{name}"
                               th:errorclass="'is-invalid'"
                               class="form-control form-control-lg bg-light fs-6"
                               placeholder="Shelter Name" required>

                        <small th:if="${#fields.hasErrors('name')}"
                               th:errors="*{name}"
                               class="invalid-feedback" style="font-size: 15px">Shelter name error message</small>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text"
                               th:field="*{username}"
                               th:errorclass="'is-invalid'"
                               class="form-control form-control-lg bg-light fs-6"
                               placeholder="Username" required>

                        <small th:if="${#fields.hasErrors('username')}"
                               th:errors="*{username}"
                               class="invalid-feedback text-danger" style="font-size: 15px">Username error message</small>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text"
                               th:field="*{specialNumber}"
                               th:errorclass="'is-invalid'"
                               class="form-control form-control-lg bg-light fs-6"
                               placeholder="Special number" required>

                        <small th:if="${#fields.hasErrors('specialNumber')}"
                               th:errors="*{specialNumber}"
                               class="invalid-feedback" style="font-size: 15px">Special number error message</small>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text"
                               th:field="*{location}"
                               th:errorclass="'is-invalid'"
                               class="form-control form-control-lg bg-light fs-6"
                               placeholder="City" required>

                        <small th:if="${#fields.hasErrors('location')}"
                               th:errors="*{location}"
                               class="invalid-feedback" style="font-size: 15px">Location error message</small>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email"
                               th:field="*{email}"
                               th:errorclass="'is-invalid'"
                               class="form-control form-control-lg bg-light fs-6"
                               placeholder="Email address" required>

                        <small th:if="${#fields.hasErrors('email')}"
                               th:errors="*{email}"
                               class="invalid-feedback" style="font-size: 15px">Email error message</small>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password"
                               th:field="*{password}"
                               th:errorclass="'is-invalid'"
                               class="form-control form-control-lg bg-light fs-6"
                               placeholder="Password" required>

                        <small th:if="${#fields.hasErrors('password')}"
                               th:errors="*{password}"
                               class="invalid-feedback" style="font-size: 15px">Password error message</small>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password"
                               th:field="*{confirmPassword}"
                               th:errorclass="'is-invalid'"
                               class="form-control form-control-lg bg-light fs-6"
                               placeholder="Confirm Password" required>

                        <small th:if="${#fields.hasErrors('confirmPassword')}"
                               th:errors="*{confirmPassword}"
                               class="invalid-feedback" style="font-size: 15px">Confirm Password error message</small>
                    </div>

                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-primary w-100 fs-5">
                            Register
                        </button>
                    </div>
                    <div class="input-group mb-4 d-flex justify-content-center">
                        <p>Already a member? <a class="ms-3" href="/login">Login</a></p>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
    
</body>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>