<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>

<body>
<header th:replace="~{fragments/navbar::navbar}"></header>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <div class="row text-center pt-3">
          <p class="h2 fw-bolder">Register as : </p>
        </div>
    
        <div class="col-md-6">
          <div class="form-image my-3 d-flex justify-content-center">
            <a href="/users/register-user">
              <img src="/images/8450560.jpg" class="image-fluid rounded-5" style="width: 250px" alt="">
            </a>
          </div>
          <a href="/users/register-user" class="link-dark link-opacity-75-hover text-decoration-none">
            <p class="fs-4 fw-bolder d-flex justify-content-center">Client</p>
          </a>
        </div>
        <div class="col-md-6">
          <div class="form-image my-3 d-flex justify-content-center">
            <a href="/users/register-shelter">
              <img src="/images/6766945.jpg" class="image-fluid rounded-5" style="width: 250px" alt="">
            </a>
          </div>
          <a href="/users/register-shelter" class="link-dark link-opacity-75-hover text-decoration-none">
            <p class="fs-4 fw-bolder d-flex justify-content-center">Shelter</p>
          </a>
          
        </div>
    </div>
</div>
    
</body>
<footer th:replace="~{fragments/footer::footer}"></footer>
</html>