<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>
<nav th:fragment="navbar" class="navbar navbar-expand-md bg-light mb-2 py-3">
    <div class="container">
        <a class="navbar-brand colored-text" href="/">
            <!-- Logo goes here -->
            <b>Petable</b>
        </a>

        <p class="pt-3 fs-6 fw-light" sec:authentication="name"></p>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">

                <a class="nav-link"
                   sec:authorize="hasRole('CLIENT')"
                   aria-current="page" th:href="@{/client-profile}" th:text="#{nav_bar_home}"></a>
                <a class="nav-link"
                   sec:authorize="hasRole('SHELTER')"
                   aria-current="page" th:href="@{/shelter-profile}" th:text="#{nav_bar_home}"></a>
                <a class="nav-link"
                   sec:authorize="hasRole('ADMIN')"
                   aria-current="page" th:href="@{/admin}" th:text="#{nav_bar_home}"></a>

                <a class="nav-link"
                   sec:authorize="!hasRole('SHELTER')"
                   th:href="@{/pets/all}" th:text="#{nav_bar_find_a_pet}">Find A Pet</a>

                <a class="nav-link"
                   sec:authorize="hasRole('SHELTER')"
                  th:href="@{/pets/add}" th:text="#{nav_bar_add_pet}">Add Pet</a>

                <a class="nav-link"
                   sec:authorize="hasRole('ADMIN')"
                   th:href="@{/stories/add}" th:text="#{nav_bar_success_stories}">Add Success Story</a>

                <a class="nav-link"
                   sec:authorize="hasRole('SHELTER')"
                   th:href="@{/shelters/shelter/my-animals}" th:text="#{nav_bar_my_animals}">My animals</a>

                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" sec:authorize="!hasRole('SHELTER')"
                       data-bs-toggle="dropdown" href="#" th:text="#{nav_bar_shelters}">Shelters</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/shelters/info" th:text="#{nav_bar_shelters_info}">Info</a></li>
                        <li><a class="dropdown-item" href="/contact-form" th:text="#{nav_bar_shelters_contact}">Contact a shelter</a></li>
                    </ul>
                </div>

                <a class="nav-link colored-text"
                   sec:authorize="!isAuthenticated()"
                   href="/users/login"><b th:text="#{nav_bar_login}">Login</b></a>
                <a class="nav-link colored-text"
                   sec:authorize="!isAuthenticated()"
                   href="/users/register"><b th:text="#{nav_bar_register}">Register</b></a>

                <form th:action="@{/users/logout}"
                      th:method="post">
                    <input class="nav-link text-danger fw-bold"
                           sec:authorize="isAuthenticated()"
                           type="submit" th:value="#{nav_bar_logout}">
                </form>

                <form th:method="get">
                    <a class="nav-link">
                    <select
                            id="lang"
                            name="lang"
                            onchange="form.submit()">
                        <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">En</option>
                        <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Bg</option>
                    </select>
                    </a>
                </form>
            </div>
        </div>
    </div>
</nav>
</body>
</html>